@import "../../sass/responsiveStyles";
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include tablet {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @include desktop {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.search__container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20px;
  @include tablet {
    width: 80%;
  }
  @include desktop {
    width: 60%;
  }
}
.search__container__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search__container__title--text {
  text-align: center;
  @include tablet {
    font-size: 26px;
    font-weight: 700;
  }
  @include desktop {
    font-size: 40px;
    font-weight: 700;
  }
}
.search__container__title--important {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fd4848;
  color: white;
}
.search__collection__card--message {
  text-align: right;
 
  font-weight: 300;
  color: rgb(87, 87, 87);
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 20px;
  }
}
.search__collection__card {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
 
  @include tablet {
    gap: 15px;
  }
  @include desktop {
    gap: 20px;
  }
}

.search__container__filter {
  display: flex;
  flex-direction: row;

  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  @include tablet {
    justify-content: center;
  }
  @include desktop {
    justify-content: space-between;
  }
}
.search__container__filter__orden {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: 300;
  color: rgb(87, 87, 87);
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 20px;
  }
}

.btn-outline-warning {
  
  font-weight: 500;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 18px;
  }
}
.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: white;
}
