.search{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 20px;
}
.search__container__title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search__container__title--text{
    font-size: 40px;
    font-weight: 700;
}
.search__container__title--important{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FD4848;
    color: white;
}   
.search__collection__card--message{
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    color: rgb(87, 87, 87);
}
.search__collection__card{
   
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}



.search__container__filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
  
}
.search__container__filter__orden{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 10px;
    font-size: 20px;
    font-weight: 300;
    color: rgb(87, 87, 87);
}

.btn-outline-warning{
    font-size: 18px;
    font-weight: 500;
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show{
    color: white;
}
