.navbar__container{
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
    gap: 70px;
}
.navbar__container__link{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    z-index: 50;
}