@import "bootstrap/scss/bootstrap";
@import "responsiveStyles";
h1,
h2,
h3,
h4,
p,
a {
  padding: 0px;
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
}

//TODO: Estas clases modifican el input-search de bootstrap de la página de búsqueda

.input-group-text {
  
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 2px solid rgb(120, 120, 120);
  border-right: 0px;
  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 25px;
  }
}
.form-control {
  font-family: "Ubuntu", sans-serif;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 2px solid rgb(120, 120, 120);
  border-left: 0px;
  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 25px;
  }
}

.btn-secondary {
  background-color: #535b61;
  border: 1px solid #535b61;
}
.btn-info {
  background-color: #86b8d2;
  border: 1px solid #86b8d2;
}

.btn-light {
  color: white;
  background-color: #ffffff00;
  border: none;
  font-size: 30px;
}
